<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Delivery Tracker</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script
            src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>

    <ul id="register" class="dropdown-content">
        <li><a href="{{url_for('site.startSession')}}">Session</a></li>
        <li><a href="{{url_for('site.registerCoordinator')}}">Coordinator</a></li>
        <li><a href="{{url_for('site.registerRider')}}">Rider</a></li>
        <li><a href="{{url_for('site.addItem')}}">Others</a></li>
    </ul>

    <nav class="nav-extended red darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right"><img height="100" width="100" src="{{url_for('static', filename='img/evslogow.png')}}"></a>
            <ul id="nav-mobile" class="left bottom hide-on-med-and-down">
                <li><a href="/">Control</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="register">Register Item<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="#"></a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </nav>

<hr>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>